apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: news-data-pvc
  namespace: news-pipeline
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard  